body{
	background: #ffffff;
}

#container{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;	
}

#logowanie{
	padding: 20px;
	background-color: #f0f0f0;
	float: right;
	width: 220px;
	height: 110px;	
}

#topcontent{
	float: left;
	width: 740px;
	height: 150px;
	background-color: #404040;
	color: #ffffff;
	text-align: center;
}

#menu{
	border: 2px solid #444444;
	
}

#content{
	border: 2px solid #000000;
	min-height: 300px;
}

table{
	margin: 0 auto;
	text-align: left; 
}

.auction{
	height: 150px;
	margin: 10px;
	border: 2px solid #0000aa;
	padding: 3px;
}

.auction a{
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #000000;
	display: block;
}

#a_graphics img{
	width: 250px;
	height: 150px;
	float: left;
}

#a_message{
	float: left;
	width:700px;
	padding: 5px;
}

#a_message h3{
	margin-bottom: 5px;
}

#a_web{
	position: absolute;
	left: 0;
	right: 0;
}